¿Cómo importar la biblioteca?
==

In [2]:
import athena2pyspark as ath # se demora un poco porque esta creado el SparkContext

Hacer una query y que te retorne un dataframe
==

Podemos usar los recursos de athena para obtener querys basado en sql, esto nos permite hacer querys gigantes de forma server-less

In [4]:
s3_output = "s3://leonardo.exalitica.com/boto3/query_1/"
df = ath.run_query(query = "select * from baul_2 limit 1000", database = "ljofre", s3_output = s3_output)

Execution ID: 8da33860-e60e-42a9-9e83-79120a4a7c95

In [13]:
df.toPandas().head(100)

,party_id,corr,cv_us,cv_u4s,cv_u12s,m_us,m_u4s,m_u12s,cp_us,cp_u4s,cp_u12s,rec,tu4s,tu12s,n_key
0,100183795,1875,0,1,1,0.0000,467.2269,467.2269,0.0,4.000,4.000,23.0,30.0,90.000000,2016_1
1,100189452,7820,0,0,2,0.0000,0.0000,2268.0672,0.0,0.000,5.000,36.0,30.0,50.000000,2016_1
2,100384605,3472,0,1,3,0.0000,2335.2941,9475.6302,0.0,1.000,4.000,19.0,30.0,30.500000,2016_1
3,100390335,20113,0,1,1,0.0000,2436.1345,2436.1345,0.0,1.000,1.000,21.0,30.0,90.000000,2016_1
4,100581556,31907,0,1,1,0.0000,2512.6050,2512.6050,0.0,1.000,1.000,25.0,30.0,90.000000,2016_1
5,100588408,265,0,0,1,0.0000,0.0000,1612.6050,0.0,0.000,0.240,75.0,30.0,90.000000,2016_1
6,100783295,3337,0,1,2,0.0000,586.5546,1189.9159,0.0,2.000,4.000,23.0,30.0,60.000000,2016_1
7,100794944,1426,0,0,2,0.0000,0.0000,3233.6135,0.0,0.000,2.000,59.0,30.0,22.000000,2016_1
8,100981604,2637,0,1,4,0.0000,11138.6554,51860.5039,0.0,0.942,4.185,20.0,30.0,15.333333,2016_1
9,100991407,33684,0,1,1,0.0000,2008.4034,2008.4034,0.0,1.000,1.000,18.0,30.0,90.000000,2016_1
10,101172792,2276,0,1,1,0.0000,502.5210,502.5210,0.0,2.000,2.000,15.0,30.0,90.000000,2016_1
11,101170639,23457,0,0,1,0.0000,0.0000,1679.8319,0.0,0.000,1.000,82.0,30.0,90.000000,2016_1
12,101380115,23554,1,1,1,2764.7059,2764.7059,2764.7059,1.0,1.000,1.000,13.0,30.0,90.000000,2016_1
13,101369194,276,0,1,1,0.0000,274.7898,274.7898,0.0,0.095,0.095,33.0,30.0,90.000000,2016_1
14,101571105,26479,0,0,1,0.0000,0.0000,15749.5798,0.0,0.000,1.000,64.0,30.0,90.000000,2016_1
15,101565750,7806,0,0,1,0.0000,0.0000,587.3950,0.0,0.000,1.000,62.0,30.0,90.000000,2016_1
16,101767282,19809,0,1,1,0.0000,1511.7647,1511.7647,0.0,2.000,2.000,27.0,30.0,90.000000,2016_1
17,101785708,31325,0,1,1,0.0000,2428.5714,2428.5714,0.0,1.000,1.000,20.0,30.0,90.000000,2016_1
18,101963929,19957,1,1,1,2233.6134,2233.6134,2233.6134,2.0,2.000,2.000,9.0,30.0,90.000000,2016_1
19,101983643,11615,0,0,1,0.0000,0.0000,1000.0000,0.0,0.000,1.000,43.0,30.0,90.000000,2016_1
20,102170575,21747,0,0,1,0.0000,0.0000,1109.2437,0.0,0.000,1.000,91.0,30.0,90.000000,2016_1
21,102188992,236,0,1,1,0.0000,1679.8319,1679.8319,0.0,1.000,1.000,29.0,30.0,90.000000,2016_1
22,102370166,19843,0,0,1,0.0000,0.0000,780.6723,0.0,0.000,1.000,83.0,30.0,90.000000,2016_1
23,102392471,2297,0,0,1,0.0000,0.0000,11691.0363,0.0,0.000,3.135,38.0,30.0,90.000000,2016_1
24,102572949,20819,0,2,4,0.0000,7400.5042,14799.1036,0.0,2.000,4.000,21.0,12.0,15.000000,2016_1
25,102593916,33337,0,0,1,0.0000,0.0000,445.3781,0.0,0.000,0.515,81.0,30.0,90.000000,2016_1
26,102766289,12959,0,0,1,0.0000,0.0000,2490.7563,0.0,0.000,1.000,70.0,30.0,90.000000,2016_1
27,102792468,27793,0,0,1,0.0000,0.0000,2015.9664,0.0,0.000,1.000,39.0,30.0,90.000000,2016_1
28,102966948,2730,0,0,2,0.0000,0.0000,3842.0166,0.0,0.000,3.680,49.0,30.0,31.000000,2016_1
29,102978286,2840,1,4,7,629.4118,3103.3613,4987.0588,1.0,4.451,7.451,12.0,6.0,13.166667,2016_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,107099993,28718,0,1,1,0.0000,469.7479,469.7479,0.0,1.000,1.000,27.0,30.0,90.000000,2016_1
71,107130582,11705,0,0,1,0.0000,0.0000,6201.6806,0.0,0.000,2.000,80.0,30.0,90.000000,2016_1
72,107278820,33437,0,1,1,0.0000,1692.4369,1692.4369,0.0,0.230,0.230,19.0,30.0,90.000000,2016_1
73,107315881,1039,0,0,2,0.0000,0.0000,3778.9916,0.0,0.000,3.000,46.0,30.0,10.000000,2016_1
74,107471059,4575,0,0,1,0.0000,0.0000,553.7815,0.0,0.000,1.000,48.0,30.0,90.000000,2016_1
75,107511563,1832,0,0,1,0.0000,0.0000,1646.2185,0.0,0.000,1.000,43.0,30.0,90.000000,2016_1
76,107671616,28718,0,0,1,0.0000,0.0000,939.4958,0.0,0.000,2.000,58.0,30.0,90.000000,2016_1
77,107709145,11513,0,1,2,0.0000,10033.6134,15255.4622,0.0,6.000,10.000,32.0,30.0,26.000000,2016_1
78,107866007,28093,0,0,1,0.0000,0.0000,1852.1007,0.0,0.000,0.315,46.0,30.0,90.000000,2016_1
79,107894219,3986,0,0,1,0.0000,0.0000,889.0756,0.0,0.000,2.000,37.0,30.0,90.000000,2016_1
80,108070924,26282,0,0,1,0.0000,0.0000,1888.2352,0.0,0.000,0.814,42.0,30.0,90.000000,2016_1
81,108084360,29284,0,0,1,0.0000,0.0000,4193.2773,0.0,0.000,1.000,42.0,30.0,90.000000,2016_1
82,108269143,8023,0,1,4,0.0000,503.3613,2055.4621,0.0,1.000,4.000,29.0,30.0,15.333333,2016_1
83,108280220,1926,0,0,1,0.0000,0.0000,940.3362,0.0,0.000,6.000,89.0,30.0,90.000000,2016_1
84,108457676,2876,0,1,1,0.0000,1214.5658,1214.5658,0.0,1.000,1.000,35.0,30.0,90.000000,2016_1
85,108482779,33283,0,2,8,0.0000,1538.6552,9797.4781,0.0,1.540,7.280,24.0,5.0,8.571429,2016_1
86,108666899,29304,0,1,1,0.0000,7554.6218,7554.6218,0.0,1.000,1.000,34.0,30.0,90.000000,2016_1
87,108691348,2788,0,2,3,0.0000,4189.9158,7458.8234,0.0,5.036,6.036,22.0,7.0,24.500000,2016_1
88,108873916,2789,0,1,2,0.0000,1747.0588,2112.0447,0.0,2.000,3.000,18.0,30.0,42.000000,2016_1
89,108877778,444,0,1,2,0.0000,2873.1092,4452.1008,0.0,1.000,2.000,34.0,30.0,23.000000,2016_1
90,109068324,37879,0,0,1,0.0000,0.0000,16798.3193,0.0,0.000,1.000,70.0,30.0,90.000000,2016_1
91,109069919,21327,0,0,1,0.0000,0.0000,1049.5798,0.0,0.000,1.000,48.0,30.0,90.000000,2016_1
92,109278964,1253,0,0,1,0.0000,0.0000,587.3950,0.0,0.000,1.000,58.0,30.0,90.000000,2016_1
93,109283091,19822,0,0,1,0.0000,0.0000,1982.3529,0.0,0.000,1.000,44.0,30.0,90.000000,2016_1
94,109480282,28490,0,0,1,0.0000,0.0000,1057.9832,0.0,0.000,1.000,88.0,30.0,90.000000,2016_1
95,109492510,1784,0,0,3,0.0000,0.0000,4884.8366,0.0,0.000,14.000,71.0,30.0,6.500000,2016_1
96,109660082,20276,0,1,1,0.0000,1007.5630,1007.5630,0.0,1.000,1.000,18.0,30.0,90.000000,2016_1
97,109676022,11646,0,1,1,0.0000,1420.1681,1420.1681,0.0,1.000,1.000,25.0,30.0,90.000000,2016_1
98,109857883,3757,0,0,1,0.0000,0.0000,390.0560,0.0,0.000,1.000,58.0,30.0,90.000000,2016_1
99,109874256,1954,0,1,1,0.0000,1005.8823,1005.8823,0.0,3.000,3.000,27.0,30.0,90.000000,2016_1

Generar el "create table" a partir del dataframe ya creado
==

Es util registrar este dataframe dentro de un catálogo para poder seguir haciendo consultas dentro de athena

In [8]:
s3_input = "s3://leonardo.exalitica.com/boto3/query_1/8da33860-e60e-42a9-9e83-79120a4a7c95.csv"
create_database, create_table = ath.get_ddl(df=df,
                                            database="ljofre",
                                            table="nueva_tabla",
                                            s3_input=s3_input)

In [11]:
print(create_database)

CREATE DATABASE IF NOT EXISTS ljofre;

In [12]:
print(create_table)

CREATE EXTERNAL TABLE IF NOT EXISTS ljofre.nueva_tabla ('party_id' string,'corr' string,'cv_us' string,'cv_u4s' string,'cv_u12s' string,'m_us' string,'m_u4s' string,'m_u12s' string,'cp_us' string,'cp_u4s' string,'cp_u12s' string,'rec' string,'tu4s' string,'tu12s' string,'n_key' string)
     ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
     WITH SERDEPROPERTIES (
     'serialization.format' = '1'
     ) LOCATION 's3://leonardo.exalitica.com/boto3/query_1/8da33860-e60e-42a9-9e83-79120a4a7c95.csv'
     TBLPROPERTIES ('has_encrypted_data'='false');

Ejecutar create table y dejar registrada la tabla en Athena
==