In [2]:
import athena2pyspark as ath # se demora un poco porque esta creado el SparkContext

Hacer una query y que te retorne un dataframe
==

Podemos usar los recursos de athena para obtener querys basado en sql, esto nos permite hacer querys gigantes de forma server-less

In [4]:
s3_output = "s3://leonardo.exalitica.com/boto3/query_1/"
df = ath.run_query(query = "select * from baul_2 limit 1000", database = "ljofre", s3_output = s3_output)

Execution ID: 8da33860-e60e-42a9-9e83-79120a4a7c95

In [6]:
df.toPandas()

,party_id,corr,cv_us,cv_u4s,cv_u12s,m_us,m_u4s,m_u12s,cp_us,cp_u4s,cp_u12s,rec,tu4s,tu12s,n_key
0,100183795,1875,0,1,1,0.0000,467.2269,467.2269,0.0,4.000,4.000,23.0,30.0,90.000000,2016_1
1,100189452,7820,0,0,2,0.0000,0.0000,2268.0672,0.0,0.000,5.000,36.0,30.0,50.000000,2016_1
2,100384605,3472,0,1,3,0.0000,2335.2941,9475.6302,0.0,1.000,4.000,19.0,30.0,30.500000,2016_1
3,100390335,20113,0,1,1,0.0000,2436.1345,2436.1345,0.0,1.000,1.000,21.0,30.0,90.000000,2016_1
4,100581556,31907,0,1,1,0.0000,2512.6050,2512.6050,0.0,1.000,1.000,25.0,30.0,90.000000,2016_1
5,100588408,265,0,0,1,0.0000,0.0000,1612.6050,0.0,0.000,0.240,75.0,30.0,90.000000,2016_1
6,100783295,3337,0,1,2,0.0000,586.5546,1189.9159,0.0,2.000,4.000,23.0,30.0,60.000000,2016_1
7,100794944,1426,0,0,2,0.0000,0.0000,3233.6135,0.0,0.000,2.000,59.0,30.0,22.000000,2016_1
8,100981604,2637,0,1,4,0.0000,11138.6554,51860.5039,0.0,0.942,4.185,20.0,30.0,15.333333,2016_1
9,100991407,33684,0,1,1,0.0000,2008.4034,2008.4034,0.0,1.000,1.000,18.0,30.0,90.000000,2016_1
10,101172792,2276,0,1,1,0.0000,502.5210,502.5210,0.0,2.000,2.000,15.0,30.0,90.000000,2016_1
11,101170639,23457,0,0,1,0.0000,0.0000,1679.8319,0.0,0.000,1.000,82.0,30.0,90.000000,2016_1
12,101380115,23554,1,1,1,2764.7059,2764.7059,2764.7059,1.0,1.000,1.000,13.0,30.0,90.000000,2016_1
13,101369194,276,0,1,1,0.0000,274.7898,274.7898,0.0,0.095,0.095,33.0,30.0,90.000000,2016_1
14,101571105,26479,0,0,1,0.0000,0.0000,15749.5798,0.0,0.000,1.000,64.0,30.0,90.000000,2016_1
15,101565750,7806,0,0,1,0.0000,0.0000,587.3950,0.0,0.000,1.000,62.0,30.0,90.000000,2016_1
16,101767282,19809,0,1,1,0.0000,1511.7647,1511.7647,0.0,2.000,2.000,27.0,30.0,90.000000,2016_1
17,101785708,31325,0,1,1,0.0000,2428.5714,2428.5714,0.0,1.000,1.000,20.0,30.0,90.000000,2016_1
18,101963929,19957,1,1,1,2233.6134,2233.6134,2233.6134,2.0,2.000,2.000,9.0,30.0,90.000000,2016_1
19,101983643,11615,0,0,1,0.0000,0.0000,1000.0000,0.0,0.000,1.000,43.0,30.0,90.000000,2016_1
20,102170575,21747,0,0,1,0.0000,0.0000,1109.2437,0.0,0.000,1.000,91.0,30.0,90.000000,2016_1
21,102188992,236,0,1,1,0.0000,1679.8319,1679.8319,0.0,1.000,1.000,29.0,30.0,90.000000,2016_1
22,102370166,19843,0,0,1,0.0000,0.0000,780.6723,0.0,0.000,1.000,83.0,30.0,90.000000,2016_1
23,102392471,2297,0,0,1,0.0000,0.0000,11691.0363,0.0,0.000,3.135,38.0,30.0,90.000000,2016_1
24,102572949,20819,0,2,4,0.0000,7400.5042,14799.1036,0.0,2.000,4.000,21.0,12.0,15.000000,2016_1
25,102593916,33337,0,0,1,0.0000,0.0000,445.3781,0.0,0.000,0.515,81.0,30.0,90.000000,2016_1
26,102766289,12959,0,0,1,0.0000,0.0000,2490.7563,0.0,0.000,1.000,70.0,30.0,90.000000,2016_1
27,102792468,27793,0,0,1,0.0000,0.0000,2015.9664,0.0,0.000,1.000,39.0,30.0,90.000000,2016_1
28,102966948,2730,0,0,2,0.0000,0.0000,3842.0166,0.0,0.000,3.680,49.0,30.0,31.000000,2016_1
29,102978286,2840,1,4,7,629.4118,3103.3613,4987.0588,1.0,4.451,7.451,12.0,6.0,13.166667,2016_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,195881224,28621,0,0,1,0.0000,0.0000,831.0924,0.0,0.000,1.000,69.0,30.0,90.000000,2016_1
971,196089406,2927,0,0,1,0.0000,0.0000,1084.0336,0.0,0.000,1.000,64.0,30.0,90.000000,2016_1
972,196072653,19796,0,1,1,0.0000,2351.2605,2351.2605,0.0,2.000,2.000,19.0,30.0,90.000000,2016_1
973,196293658,3407,0,1,2,0.0000,889.0756,1599.9999,0.0,2.000,4.000,16.0,30.0,28.000000,2016_1
974,196281226,19868,0,0,1,0.0000,0.0000,1847.8992,0.0,0.000,1.000,72.0,30.0,90.000000,2016_1
975,196485422,4295,0,0,1,0.0000,0.0000,1284.0336,0.0,0.000,1.000,77.0,30.0,90.000000,2016_1
976,196471340,4974,0,0,1,0.0000,0.0000,1175.6303,0.0,0.000,1.000,46.0,30.0,90.000000,2016_1
977,196700155,2724,0,1,7,0.0000,2962.4942,16224.8593,0.0,3.762,26.047,32.0,30.0,9.333333,2016_1
978,196665822,1793,1,1,1,769.7479,769.7479,769.7479,4.0,4.000,4.000,12.0,30.0,90.000000,2016_1
979,196917652,28445,0,0,1,0.0000,0.0000,823.5294,0.0,0.000,2.000,51.0,30.0,90.000000,2016_1
980,196877610,242,0,0,1,0.0000,0.0000,2580.6723,0.0,0.000,0.320,50.0,30.0,90.000000,2016_1
981,197110473,1926,0,0,3,0.0000,0.0000,3114.7060,0.0,0.000,18.000,48.0,30.0,21.500000,2016_1
982,197085917,29823,0,0,1,0.0000,0.0000,1411.7647,0.0,0.000,2.000,76.0,30.0,90.000000,2016_1
983,197315030,2770,0,1,1,0.0000,2368.9075,2368.9075,0.0,2.185,2.185,20.0,30.0,90.000000,2016_1
984,197292161,8926,0,0,1,0.0000,0.0000,1343.6975,0.0,0.000,1.000,69.0,30.0,90.000000,2016_1
985,197519066,1493,0,0,1,0.0000,0.0000,637.8151,0.0,0.000,1.000,55.0,30.0,90.000000,2016_1
986,197489032,8297,0,1,1,0.0000,1386.5546,1386.5546,0.0,1.000,1.000,30.0,30.0,90.000000,2016_1
987,197722959,19866,0,1,1,0.0000,1158.8235,1158.8235,0.0,1.000,1.000,18.0,30.0,90.000000,2016_1
988,197683317,26286,0,0,1,0.0000,0.0000,3352.9412,0.0,0.000,1.000,66.0,30.0,90.000000,2016_1
989,197927761,8910,0,1,1,0.0000,1679.8319,1679.8319,0.0,1.000,1.000,34.0,30.0,90.000000,2016_1
990,197878603,3313,0,1,1,0.0000,2950.4202,2950.4202,0.0,1.000,1.000,19.0,30.0,90.000000,2016_1
991,198144547,6442,0,0,1,0.0000,0.0000,6469.7479,0.0,0.000,1.000,81.0,30.0,90.000000,2016_1
992,198080768,23407,0,1,1,0.0000,2428.5714,2428.5714,0.0,1.000,1.000,30.0,30.0,90.000000,2016_1
993,198342819,8969,0,0,1,0.0000,0.0000,1007.5630,0.0,0.000,1.000,45.0,30.0,90.000000,2016_1
994,198276591,28573,0,0,2,0.0000,0.0000,1840.3361,0.0,0.000,3.000,65.0,30.0,8.000000,2016_1
995,198550172,20935,0,0,1,0.0000,0.0000,637.8152,0.0,0.000,1.000,70.0,30.0,90.000000,2016_1
996,198477226,1268,0,0,3,0.0000,0.0000,1985.7143,0.0,0.000,7.000,48.0,30.0,16.000000,2016_1
997,198756880,2809,0,0,1,0.0000,0.0000,1510.0839,0.0,0.000,3.000,40.0,30.0,90.000000,2016_1
998,198678973,28128,0,1,1,0.0000,1182.3530,1182.3530,0.0,1.000,1.000,20.0,30.0,90.000000,2016_1
999,198969278,4660,0,0,1,0.0000,0.0000,1763.8655,0.0,0.000,1.000,37.0,30.0,90.000000,2016_1

Generar el "create table" a partir del dataframe ya creado
==

Es util registrar este dataframe dentro de un catálogo para poder seguir haciendo consultas dentro de athena

In [7]:
s3_input = "s3://leonardo.exalitica.com/boto3/query_1/8da33860-e60e-42a9-9e83-79120a4a7c95.csv"
create_database, create_table = ath.get_ddl(df=df,database="ljofre",
                                            table="nueva_tabla",
                                            s3_input=s3_input)