athena2pyspark
==

“La documentación es como el sexo; cuando es bueno, es muy, muy bueno, y cuando es malo, es mejor que nada” 
-- Dick Brandon

Usted está frente athena2pyspark una api creada por exalítica para la manipulación de consultas en sql desde s3 basado en athena. El objetivo de esta librería es no tener un futuro sin servidores y sin cluster EMR. Cuide esta librería, apoye reportando bugs y disfrútela.

Instalación
==
pip install git+https://ljofre-exalitica@bitbucket.org/exalitica-team/athena2pyspark.git

In [1]:
import athena2pyspark as ath # se demora un poco porque esta creado el SparkContext ...

por ejemplo, tenemos la función que retorna la consulta de producto nuevo

Hacer una query y que te retorne un dataframe
==

Podemos usar los recursos de athena para obtener querys basado en sql, esto nos permite hacer querys gigantes de forma server-less

In [2]:
s3_output = "s3://leonardo.exalitica.com/boto3/query_examples_select_all/"
path_dataframe = ath.run_query(query = "select * from baul_2 limit 10", database = "ljofre", s3_output = s3_output)

Execution ID: efab3ff6-5805-44af-90ea-9cee42cb8931

In [3]:
df = ath.get_dataframe(path_query=path_dataframe)
df.toPandas()

,party_id,corr,cv_us,cv_u4s,cv_u12s,m_us,m_u4s,m_u12s,cp_us,cp_u4s,cp_u12s,rec,tu4s,tu12s,n_key
0,149800088,2770,0,0,1,0,0.0000,1092.4369,0,0.0,0.935,78.0,30,90.0,2016_10
1,149148141,5104,0,0,1,0,0.0000,1530.7869,0,0.0,1.000,84.0,30,90.0,2016_10
2,149998428,29393,0,0,1,0,0.0000,836.9748,0,0.0,1.000,36.0,30,90.0,2016_10
3,149356648,37764,0,1,1,0,7554.6218,7554.6218,0,1.0,1.000,15.0,30,90.0,2016_10
4,150189980,20151,0,1,1,0,2057.9832,2057.9832,0,2.0,2.000,28.0,30,90.0,2016_10
5,149557306,1213,0,0,1,0,0.0000,1444.5378,0,0.0,1.000,83.0,30,90.0,2016_10
6,150388014,3506,0,0,1,0,0.0000,1326.8908,0,0.0,1.000,63.0,30,90.0,2016_10
7,149742519,1765,0,0,2,0,0.0000,3225.2100,0,0.0,2.000,40.0,30,18.0,2016_10
8,150579833,1268,0,1,1,0,653.7815,653.7815,0,2.0,2.000,16.0,30,90.0,2016_10
9,149938627,2611,0,0,1,0,0.0000,10888.2352,0,0.0,2.360,82.0,30,90.0,2016_10

Dinámica producto nuevo
==

Podemos obtener el dataframe de dinámica de producto nuevo

In [4]:
from athena2pyspark.athena_sql.dinamicas import producto_nuevo 
# “El código nunca miente, los comentarios sí” -- Ron Jeffries

producto_nuevo_query = producto_nuevo(subclase=110209, marca='2717', lift=8)

s3_output = "s3://leonardo.exalitica.com/boto3/query_examples_dinamica_producto_nuevo/"

path_producto_nuevo = ath.run_query(query = producto_nuevo_query, database = "prod_jumbo", s3_output = s3_output)

Execution ID: ef926a75-253c-46e7-a1bc-7e4483184f9d

In [6]:
df_producto_nuevo = ath.get_dataframe(path_query=path_producto_nuevo)
df_producto_nuevo.limit(10).show()

+---------+--------+---------------+-------------+------------+----------------+-------+--------------------+-----------+-----+
| party_id|promo_id|comm_channel_cd|codigo_siebel|codigo_motor|communication_id|page_id|   datos_de_contacto|correlativo|grupo|
+---------+--------+---------------+-------------+------------+----------------+-------+--------------------+-----------+-----+
|101161414|     300|              1|      PopCorn|         300|               1|      1|aromanis@hotmail.com|      61009|    0|
|151865307|     300|              1|      PopCorn|         300|               1|      1| SCILIA1@HOTMAIL.COM|      61009|    0|
|172137866|     300|              1|      PopCorn|         300|               1|      1|PATRICIOLUENGOAMA...|      61009|    0|
|176442667|     300|              1|      PopCorn|         300|               1|      1|marceladuransepul...|      61009|    0|
|142674706|     300|              1|      PopCorn|         300|               1|      1|PATRICIA_N_@HOTMA...|      61009|    1|
|176602078|     300|              1|      PopCorn|         300|               1|      1|DANIELA.REBOLLEDO...|      61009|    0|
|114477212|     300|              1|      PopCorn|         300|               1|      1|BERENGUER.CRISTIA...|      61009|    0|
|159101174|     300|              1|      PopCorn|         300|               1|      1|RM.RIQUELME@GMAIL...|      61009|    0|
|148835317|     300|              1|      PopCorn|         300|               1|      1|  XIMEGP@HOTMAIL.COM|      61009|    1|
|123673828|     300|              1|      PopCorn|         300|               1|      1|   BORINPA@GMAIL.COM|      61009|    0|
+---------+--------+---------------+-------------+------------+----------------+-------+--------------------+-----------+-----+

Generar el "create table" a partir del dataframe ya creado
==

Es util registrar este dataframe dentro de un catálogo para poder seguir haciendo consultas dentro de athena

In [7]:
s3_input = path_producto_nuevo
create_database, create_table = ath.get_ddl(df=df_producto_nuevo,
                                            database="ljofre",
                                            table="nueva_tabla_de_ejemplo",
                                            s3_input=s3_output)

In [8]:
print(create_database)

CREATE DATABASE IF NOT EXISTS ljofre;

In [9]:
print(create_table)

CREATE EXTERNAL TABLE IF NOT EXISTS ljofre.nueva_tabla_de_ejemplo ('party_id' string,'promo_id' string,'comm_channel_cd' string,'codigo_siebel' string,'codigo_motor' string,'communication_id' string,'page_id' string,'datos_de_contacto' string,'correlativo' string,'grupo' string)
     ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
     WITH SERDEPROPERTIES (
     'serialization.format' = '1'
     ) LOCATION 's3://leonardo.exalitica.com/boto3/query_examples_dinamica_producto_nuevo/'
     TBLPROPERTIES ('has_encrypted_data'='false');

In [ ]:
CREATE EXTERNAL TABLE IF NOT EXISTS ljofre.prueba_tabla_python (
  `party_id` string,
  `promo_id` string,
  `comm_channel_cd` string,
  `codigo_siebel` string,
  `codigo_motor` string,
  `communication_id` string,
  `page_id` string,
  `datos_de_contacto` string,
  `correlativo` string,
  `grupo` string 
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES (
  'serialization.format' = ',',
  'field.delim' = ','
) LOCATION 's3://leonardo.exalitica.com/boto3/query_1/'
TBLPROPERTIES ('has_encrypted_data'='false');

Ejecutar create table y dejar registrada la tabla en Athena
==

“Cuando trabajo en un problema nunca pienso sobre la elegancia, sólo sobre cómo resolverlo. Pero cuando he acabado, si la solución no es elegante, sé que es incorrecta” 
-- R. Buckminster Fuller

In [14]:
from athena2pyspark.config import aws_access_key_id, aws_secret_access_key
import boto3
client = boto3.client('athena', region_name='us-east-1', 
                      aws_access_key_id=aws_access_key_id,
                      aws_secret_access_key=aws_secret_access_key)

response = client.start_query_execution(
    QueryString=create_table,
    QueryExecutionContext={
        'Database': "ljofre"
        },
    ResultConfiguration={
            'OutputLocation': s3_output,
            }
    )
print('Execution ID: ' + response['QueryExecutionId'])

InvalidRequestException: An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:8: no viable alternative at input 'CREATE EXTERNAL'

Hacer un listado a partir de la prepriorizacion
==