athena2pyspark
==

Usted está frente athena2pyspark una api creada por exalítica para la manipulación de consultas en sql desde s3 basado en athena. El objetivo de esta librería es no tener un futuro sin servidores y sin cluster EMR. Cuide esta librería, apoye reportando bugs y disfrútela.

Instalación
==
pip install git+https://ljofre-exalitica@bitbucket.org/exalitica-team/athena2pyspark.git

In [ ]:
import athena2pyspark as ath # se demora un poco porque esta creado el SparkContext

In [2]:
from athena2pyspark.athena_sql.dinamicas import producto_nuevo

por ejemplo, tenemos la función que retorna la consulta de producto nuevo

In [3]:
producto_nuevo_query = producto_nuevo(subclase=110209, marca='2717', lift=8)
print(producto_nuevo_query)

    WITH fuente_filtrada AS
    (
    with items_filtrado AS (
        SELECT DISTINCT item_hash.item_id
        FROM prod_jumbo.item_hash
        WHERE item_hash.item_subclass_cd = 110209
                OR item_hash.brand_cd = '2717')
    SELECT fuente.party_id, fuente.tran_start_dt, fuente.item_id from fuente join items_filtrado
    on fuente.item_id = items_filtrado.item_id
      where cast(fuente.party_id as integer) > 0
    )

    -- select count(*) from fuente_filtrada 35 929 589

    ,
    subclasepop AS
    (
      SELECT fuente_filtrada.party_id,
             item_hash.item_subclass_cd,
             COUNT(DISTINCT (fuente_filtrada.tran_start_dt)) AS visitas
      FROM fuente_filtrada
        LEFT JOIN item_hash ON (fuente_filtrada.item_id = item_hash.item_id)
      GROUP BY fuente_filtrada.party_id,
               item_hash.item_subclass_cd
    )

    -- select count(*) from subclasepop 15867270

    ,
    marcapop AS
    (
      SELECT fuente_filtrada.party_id,
             item_hash.brand_cd,
             COUNT(DISTINCT (fuente_filtrada.tran_start_dt)) AS visitas
      FROM fuente_filtrada
        LEFT JOIN item_hash ON (fuente_filtrada.item_id = item_hash.item_id)
      GROUP BY fuente_filtrada.party_id,
               item_hash.brand_cd
    )

    -- select count(*) from marcapop 2336032
    ,
    pobsubclase AS
    (
      SELECT subclasepop.party_id,
             subclasepop.visitas / b.visitasprom AS lift_subclase
      FROM subclasepop
        LEFT JOIN (SELECT subclasepop.item_subclass_cd,
                          AVG(subclasepop.visitas) AS visitasprom
                   FROM subclasepop
                   GROUP BY 1) AS b ON subclasepop.item_subclass_cd = b.item_subclass_cd

      where subclasepop.item_subclass_cd=110209
    )
    -- select count(*) from pobsubclase 15867270

    ,
    pobmarca AS
    (
      -- metrica poblacionales marca
      SELECT marcapop.party_id,
             marcapop.visitas / b.visitasprom AS lift_marca
      FROM marcapop
        LEFT JOIN (SELECT marcapop.brand_cd,
                          AVG(marcapop.visitas) AS visitasprom
                   FROM marcapop
                   GROUP BY 1) AS b ON marcapop.brand_cd = b.brand_cd

      where marcapop.brand_cd='2717'

    )

    ,
    lift
    as (
    SELECT pobsubclase.party_id,
           pobsubclase.lift_subclase,
           pobmarca.lift_marca,
           pobsubclase.lift_subclase*pobmarca.lift_marca AS lift_afinidad
    FROM pobsubclase
      JOIN pobmarca ON pobsubclase.party_id = pobmarca.party_id
      order by 4 desc)
    ,
    contact as
    (
      select party_id,  jumbo_cl_ind_email from clientes where ju_mail=1
      )

      ,
      listado as
      (

    select a.*,b.jumbo_cl_ind_email from lift as a left join contact as b on a.party_id=cast(b.party_id as varchar) where b.party_id is not null
      )
      -- select count(*) from listado 108196
       	-- 76506
     -- select count(*) from lift  -- 304730
     ,
     list_form as (
     select party_id ,
             '300' as promo_id,
              1 as  comm_channel_cd,
             'PopCorn' as codigo_siebel,
              '300' as codigo_motor,
              1 as communication_id,
              1 as page_id,
              jumbo_cl_ind_email as datos_de_contacto,
              61009 as correlativo,
       CASE WHEN rand()<= 0.05 then 1 else 0 end grupo
              from listado where lift_afinidad>8
      )

      select count(*), sum(grupo) from list_form

Hacer una query y que te retorne un dataframe
==

Podemos usar los recursos de athena para obtener querys basado en sql, esto nos permite hacer querys gigantes de forma server-less

In [7]:
s3_output = "s3://leonardo.exalitica.com/boto3/query_1/"
path_dataframe = ath.run_query(query = "select * from baul_2 limit 10", database = "ljofre", s3_output = s3_output)

Execution ID: 26a79da5-1651-4ba7-8cbc-54d72a669182

In [9]:
df = ath.get_dataframe(path_query=path_dataframe)
df.toPandas()

,party_id,corr,cv_us,cv_u4s,cv_u12s,m_us,m_u4s,m_u12s,cp_us,cp_u4s,cp_u12s,rec,tu4s,tu12s,n_key
0,156714630,19801,0,0,1,0,0.0000,3469.7479,0,0.0,1.0,81.0,30,90.0,2016_10
1,187730994,28797,0,0,1,0,0.0000,1663.8655,0,0.0,2.0,54.0,30,90.0,2016_10
2,156903086,28428,0,0,3,0,0.0000,3290.7563,0,0.0,4.0,57.0,30,12.5,2016_10
3,187907686,7921,0,1,3,0,312.0047,1234.6938,0,1.0,3.0,28.0,30,28.5,2016_10
4,157109386,1706,0,0,1,0,0.0000,1468.9075,0,0.0,3.0,68.0,30,90.0,2016_10
5,188092481,38737,0,0,1,0,0.0000,11067.2268,0,0.0,3.0,56.0,30,90.0,2016_10
6,157309849,33477,0,0,1,0,0.0000,1663.8656,0,0.0,2.0,38.0,30,90.0,2016_10
7,188296534,3374,0,0,1,0,0.0000,293.2773,0,0.0,1.0,79.0,30,90.0,2016_10
8,157499654,11587,0,0,1,0,0.0000,839.4958,0,0.0,6.0,47.0,30,90.0,2016_10
9,188501875,1166,0,1,1,0,1544.5378,1544.5378,0,2.0,2.0,32.0,30,90.0,2016_10

Dinámica producto nuevo
==

Podemos obtener el dataframe de dinámica de producto nuevo

Generar el "create table" a partir del dataframe ya creado
==

Es util registrar este dataframe dentro de un catálogo para poder seguir haciendo consultas dentro de athena

In [8]:
s3_input = "s3://leonardo.exalitica.com/boto3/query_1/8da33860-e60e-42a9-9e83-79120a4a7c95.csv"
create_database, create_table = ath.get_ddl(df=df,
                                            database="ljofre",
                                            table="nueva_tabla",
                                            s3_input=s3_input)

In [11]:
print(create_database)

CREATE DATABASE IF NOT EXISTS ljofre;

In [12]:
print(create_table)

CREATE EXTERNAL TABLE IF NOT EXISTS ljofre.nueva_tabla ('party_id' string,'corr' string,'cv_us' string,'cv_u4s' string,'cv_u12s' string,'m_us' string,'m_u4s' string,'m_u12s' string,'cp_us' string,'cp_u4s' string,'cp_u12s' string,'rec' string,'tu4s' string,'tu12s' string,'n_key' string)
     ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
     WITH SERDEPROPERTIES (
     'serialization.format' = '1'
     ) LOCATION 's3://leonardo.exalitica.com/boto3/query_1/8da33860-e60e-42a9-9e83-79120a4a7c95.csv'
     TBLPROPERTIES ('has_encrypted_data'='false');

Ejecutar create table y dejar registrada la tabla en Athena
==

In [15]:
import boto3
client = boto3.client('athena', region_name='us-east-1', 
                      aws_access_key_id=aws_access_key_id,
                      aws_secret_access_key=aws_secret_access_key)

response = client.start_query_execution(
    QueryString=create_table,
    QueryExecutionContext={
        'Database': database
        }
    )
print('Execution ID: ' + response['QueryExecutionId'])

NameError: name 'aws_access_key_id' is not defined

Hacer un listado a partir de la prepriorizacion
==